step.log
*.log
*.pyc
*/__pycache__
tplpreprocessor.log
TPLPreprocessor.py
taxonomy
tplint
.idea
.p4ignore
*.pyc
bmc_tplpre/DEV_TEST/args_TEST.txt
bmc_tplpre/DEV_TEST/ast_dump_test_py.txt
bmc_tplpre/DEV_TEST/Different_paths_to_files.xso
bmc_tplpre/DEV_TEST/OLD_TPLPreprocessor.py
bmc_tplpre/DEV_TEST/TEST.py
bmc_tplpre/DEV_TEST/TPLPREPROC_sorting
bmc_tplpre/DEV_TEST/tree_path.txt
bmc_tplpre/DEV_TEST/tw_scan_control.txt
bmc_tplpre/check/__pycache__/upload.cpython-34.pyc
bmc_tplpre/check/__pycache__/syntax_checker.cpython-34.pyc
bmc_tplpre/check/__pycache__/preproc.cpython-34.pyc
bmc_tplpre/check/__pycache__/parse_args.cpython-34.pyc
bmc_tplpre/check/__pycache__/__init__.cpython-34.pyc
bmc_tplpre/DEV_TEST/old_global_logic.py
bmc_tplpre/DEV_TEST/IIS_ast_dump_test_py.txt
bmc_tplpre/DEV_TEST/REMEDY_ast_dump_test_py.txt
bmc_tplpre/DEV_TEST/related_test_parse.py
bmc_tplpre/DEV_TEST/TEST_BMC_TPL_Ide_All.py
bmc_tplpre/DEV_TEST/test_executor.py
bmc_tplpre/DEV_TEST/tests_init.json
bmc_tplpre/DEV_TEST/test_executor.py
bmc_tplpre/DEV_TEST/test_executor.py