D:\perforce\addm\tkn_sandbox\o.danylchenko\projects\Notepad_IDE\Sublime\BMC_TPL_IDE\bmc_tplpre\.idea
D:\perforce\addm\tkn_sandbox\o.danylchenko\projects\Notepad_IDE\Sublime\BMC_TPL_IDE\bmc_tplpre\DEV_TEST
D:\perforce\addm\tkn_sandbox\o.danylchenko\projects\Notepad_IDE\Sublime\BMC_TPL_IDE\bmc_tplpre\taxonomy
D:\perforce\addm\tkn_sandbox\o.danylchenko\projects\Notepad_IDE\Sublime\BMC_TPL_IDE\bmc_tplpre\tplint
D:\perforce\addm\tkn_sandbox\o.danylchenko\projects\Notepad_IDE\Sublime\BMC_TPL_IDE\bmc_tplpre\step.log
D:\perforce\addm\tkn_sandbox\o.danylchenko\projects\Notepad_IDE\Sublime\BMC_TPL_IDE\bmc_tplpre\check.log
step.log
check.log
*.log
*.pyc
*/__pycache__
tplpreprocessor.log
TPLPreprocessor.py
taxonomy
tplint
.idea
.p4ignore
*.pyc
bmc_tplpre/DEV_TEST/args_TEST.txt
bmc_tplpre/DEV_TEST/ast_dump_test_py.txt
bmc_tplpre/DEV_TEST/Different_paths_to_files.xso
bmc_tplpre/DEV_TEST/OLD_TPLPreprocessor.py
bmc_tplpre/DEV_TEST/TEST.py
bmc_tplpre/DEV_TEST/TPLPREPROC_sorting
bmc_tplpre/DEV_TEST/tree_path.txt
bmc_tplpre/DEV_TEST/tw_scan_control.txt
bmc_tplpre/check/__pycache__/upload.cpython-34.pyc
bmc_tplpre/check/__pycache__/syntax_checker.cpython-34.pyc
bmc_tplpre/check/__pycache__/preproc.cpython-34.pyc
bmc_tplpre/check/__pycache__/parse_args.cpython-34.pyc
bmc_tplpre/check/__pycache__/__init__.cpython-34.pyc
